{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">КАКОЙ-ТО ЗАГОЛОВОК</h1>
        <p class="lead">Бла-Бла-Бла какое-то скучное говно</p>
    </div>

    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Что-то там</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">??? <small class="text-muted">/ ???</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Информация</li>
                    <li>Информация</li>
                    <li>Информация</li>
                    <li>Информация</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Кнопка 1</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Что-то</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">??? <small class="text-muted">/ ???</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Информация</li>
                    <li>Информация</li>
                    <li>Информация</li>
                    <li>Информация</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Кнопка 2</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Что-то</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">??? <small class="text-muted">/ ???</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Информация</li>
                    <li>Информация</li>
                    <li>Информация</li>
                    <li>Информация</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Кнопка 3</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}